<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Einkaufsliste</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
body{margin:50px;}
.display-4{margin-left:30px; font-size:35px;}
#abstand{margin-top:30px;}

</style>
</head>
<body>

<h1 class="display-4">Eigene Einkaufsliste</h1>
<form action="refresh" method="POST" class="cards">
{% csrf_token %}
<div class="col-sm-6">
<table class="table table-dark" id="abstand">
<thead class="thead-light"></thead>
<tr>
<th>Einkaufen</th>
</tr>
<tr>

<th>Produkt</th>
<th>Menge</th>
<th>Einheit</th>
<th>Erledigt</th>
</tr>

{% for item in einkaufen %}
<tr>
<td>{{item.text}}</td>
<td>{{item.menge}}</td>
<td>{{item.einheit}}</td>
<td><input type="checkbox" name="neu_erledigt" id="" value="{{item.id}}"></td>
</tr>
{% endfor %}
</table>

</div>
</form>
<form action="add" method="POST" class="addform">
<div class="formgroup">
{% csrf_token %}
<div class="col-sm-6">
<table class="table">
<tr>
<td><label for="produkt" class="label">Produkt</label> </td>
<td>  <input type="text" name="produkt" id="produkt"></td>
</tr>
<tr>
<td><label for="menge" class="label">Menge</label> </td>
<td><input type="number" step=.01 name="menge" id="menge"></td>
</tr>
<tr>
<td><label for="einheit" class="label">Einheit</label></td>
<td><input type="text" name="einheit" id="einheit"></td>
</tr>
<tr>
<td><input type="submit" value="Hinzufügen" name="add" class="btn btn-outline-dark"></td>
</tr>
</table>
</div>
</div>
</form>

<form action="refresh" method="POST" class="cards">
{% csrf_token %}
<div class="col-sm-6">
<table class="table table-dark">
<thead class="thead-light"> </thead>
<tr>
<th>Erledigt</th>
</tr>
<tr>

<th>Produkt</th>
<th>Menge</th>
<th>Einheit</th>

<th>Erledigt</th>
</tr>
{% for item in erledigt %}
<tr>

<td>{{item.text}}</td>
<td>{{item.menge}}</td>
<td>{{item.einheit}}</td>
<td><input type="checkbox" name="bleiben_erledigt" id="" checked value="{{item.id}}"></td>
</tr>
{% endfor %}
</table>
</div>

<div class="col-sm-6">
<input type="submit" name="refresh" value="Fertig" class="btn btn-outline-dark btn-lg btn-block" >
</div>
</form>


</body>
</html>

